$navbar-color: #ffffff;
$navbar-hover-color: #9d9d9d;
$navbar-fade-time: 0.3s;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Boot strap overrides */

.btn-custom {
    background-color: #02cbff;
    transition-duration: 0.3s;
}

.btn-custom:hover {
    background-color: #0062ac;
    transition-duration: 0.3s;
}


.navbar-custom {
    a {
        color: $navbar-color !important;
        transition-duration: $navbar-fade-time;
    }

    li {
        color: $navbar-color !important;
        transition-duration: $navbar-fade-time;
    }
}

.navbar-custom {
    a:hover {
        color: $navbar-hover-color !important;
        transition-duration: $navbar-fade-time;
    }

    li:hover {
        color: $navbar-hover-color !important;
        transition-duration: $navbar-fade-time;
    }
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
