
@{
    ViewBag.Title = "Add Entries";
}

<style>
    .center_div {
        margin: 0 auto;
        width: 300px;
    }
</style>

<div class="container center_div">
    <h3 style="text-align: center; font-weight: bold;">Add Entries</h3>

    @using (Html.BeginForm("AddEntries", "Home", FormMethod.Post, new { @class = "form" }))
    {
        <div class="form-group">
            <label class="control-label" for="entryName">Entry Name</label>
            <input class="input-lg" id="entryName" type="text" name="entryName" />
        </div>

        <div class="form-group">
            <label class="control-label" for="entryNotes">Entry Notes</label>
            <input class="input-lg" id="entryNotes" type="text" name="entryNotes" />
        </div>

        <button class="btn">Submit</button>

    }

</div>